YiJingWebUI/Uploads/
YiJingWebUI/UEditor/1.3.6/net/upload/
YiJingWebUI/UEditor/1.3.6/net/upload1/
YiJingWebUI/UEditor/1.3.6/net/upload2/
Libraries/CodeStudio.YiJing/bin/
Libraries/CodeStudio.YiJing/obj/
YiJingWebUI/LogFiles/
YiJingWebUI/obj/
YiJingWebUI/bin/
YiJing.suo