/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; }
input, select, button, textarea { margin: 0; padding: 0; font-size: 100%; font-family:"Microsoft YaHei", Arial, sans-serif, simsun; color:#333; }
input, select, textarea { vertical-align:middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; margin:0; padding:0; }
b, strong { font-weight: bold; }
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
ul, ol { list-style: none outside none; }
li { /*  For IE6 + IE7.*/ display: list-item; }
table { border-collapse: collapse; border-spacing: 0; }
th, td, caption { font-weight: normal; vertical-align: middle; text-align: left; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
sub, sup, small { font-size: 75%; }
sub, sup { line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
svg { /*For IE9.*/ overflow: hidden; }
body { font:12px/1.5 Arial,sans-serif,"Microsoft YaHei",simsun; color:#333; }
/* `Clear Floated Elements*/
.clear { clear: both; display: block; overflow: hidden; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
a { color:#333; text-decoration: none; }
a:hover { color:#039EEF; }
a:focus { outline:none; -moz-outline:none; }
