body{ background:#FFF;}
a:hover img{ opacity: .95;filter: Alpha(opacity=95);}
.icon{ background:url(images/index_48.png) no-repeat left center; width:8px; height:8px; overflow:hidden; display:inline-block; vertical-align:middle;}
.icon01{ background:url(images/index_48.png); width:21px; height:21px; margin-right:5px;}
.icon02{background:url(images/index_51.png); width:21px; height:21px; margin-right:5px;}
.icon03{background:url(images/index_53.png); width:21px; height:21px; margin-right:5px;}
.icon04{background:url(images/index_55.png); width:21px; height:21px; margin-right:5px;}
.icon05{background:url(images/index_57.png); width:21px; height:21px; margin-right:5px;}
.icon-x{background:url(images/list1_21.png); width:10px; height:10px; margin-right:5px;}

#header{ background:#171717; margin-bottom:5px;box-shadow: 0 0 5px #000; position:fixed; width:100%; z-index:2;}
.onscroll #header{opacity: 0.95;filter: Alpha(opacity=95);}
.headerinner{ width:1200px; margin:0 auto; height:80px; position:relative;}
#header .logo{ float:left; margin-right:90px; padding-top:14px;}
#header .navi{float:left; padding-top:44px; width:620px;}
#header .navi ul{}
#header .navi ul li{ float:left; padding:0 20px; position:relative; height:36px; cursor:pointer;}
#header .navi ul li h2{ font-size:16px;color:#FFF; font-weight:normal;line-height: 36px; margin:0; padding:0;}
#header .navi ul li h2 a{ color:#FFF;}
#header .navi ul li.selected{ background:#FFF;}
#header .navi ul li.selected h2 a{ color:#282829;}
#header .navi ul li.on{ background:#FFF;}
#header .navi ul li.on h2 a{ color:#282829;}
.subnav-bg{ display:none;width:560px; padding-bottom:27px; position:absolute; top: 36px; left:0; margin-left:-158px; background:url(images/subnav_bg_03.png) no-repeat right bottom;_background:url(images/ie6_subnav_bg_03.png) no-repeat right bottom;}
#header .navi ul li:nth-child(2) .subnav-bg{margin-left: -58px;}
#header .navi ul li:nth-child(4) .subnav-bg{margin-left: -265px;}
#header .navi ul li:nth-child(5) .subnav-bg{margin-left: -368px;}
#header li .subnav{  background:#FFF;padding:10px 20px;min-height: 135px; _height:135px; border:1px solid #DEDDDE; border-bottom:none; border-top:none;}
#header li .subnav dl{ font-size:14px; border-top:1px solid #A7AAAE; width:110px; float:left;}
#header li .subnav dd{border-bottom:1px solid #A7AAAE; line-height:26px;}
#header li .subnav .subnav-cont{ float:left; padding-left:65px;}
#header li .subnav .subnav-cont h3{font-size:30px;}
#header li .subnav .subnav-cont p{ font-size:18px;}
#header li.selected .subnav-bg{ display:block;}
#header .search-box{ position:absolute; right:0;bottom:10px; width:145px;}
#header .search-box .ipt-search{ border:1px solid #ADB1B6; background:#FFF; float:left; width:110px; height: 25px;line-height: 25px;}
#header .search-box .btn-search{ background:url(images/btn-search.png); width:32px; height:27px; overflow:hidden; border:none; float:left;}
.blank_top{height:85px; overflow:hidden;}

#maincontent,.maincontent{ width:1200px; margin:0 auto; padding-bottom:25px; position:relative; z-index:1;}
.slideshow { width:1200px; height:540px; margin-bottom:70px; }
.slider{position:relative;height:540px;}
.slider li{ position:absolute; left:0; top:0;}
.slider li img { display:block;width:1200px; height:540px;}
.slider .pages {  bottom: -25px;position: absolute;left:0; width:1200px; text-align:center; }
.slider .pages span { cursor:pointer;display:inline-block; height:13px; width:13px; margin-right:8px; background:url(images/index_10.png) no-repeat 0 0;vertical-align:middle; font-size:0; line-height:0;}
.slider .pages span.current{background-image: url(images/index_12.png);}
.slideshow .btn-prev{ width:42px; height:42px; position:absolute; top:50%; left:10px; z-index:99; font-size:0; margin-top:-21px; overflow:hidden; background:url(images/prev.png) no-repeat 0 0; cursor:pointer;}
.slideshow .btn-next{width:42px; height:42px; position:absolute; top:50%; right:10px; z-index:99; font-size:0; margin-top:-21px; overflow:hidden; background:url(images/next.png) no-repeat 0 0; cursor:pointer;}

.box{}
.box .hd{ height:50px; line-height:50px; margin-bottom:10px; padding-bottom:7px; background:url(images/index_16.png) no-repeat right bottom;}
.box .hd h3{ font-size:40px; margin:0; padding:0;}
.box .hd h3 span{ font-size:20px; font-weight:normal;}
.box .bd{}

.box-indexaboutus{ width:500px; float:left; margin-bottom:30px;}
.box-indexaboutus .hd{ padding-bottom:0; background:none;}
.box-indexaboutus .hd h3{ color:#0379A0; height:57px; line-height:57px; overflow:hidden;}
.box-indexaboutus .hd h3 img{ height:57px; display:block;}
.box-indexaboutus .hd span{ color:#333;}
.box-indexaboutus .slider{position:relative;width:500px; height:249px; overflow:hidden;}
.box-indexaboutus .slider li{ float: left;
    left: 0;
    position: relative;
    top: 0;}
.box-indexaboutus .slider li img { display:block;width:500px; height:249px;}
.box-indexaboutus .slider .btn-prev{ width:25px; height:25px; position:absolute; bottom:15px; left:8px; z-index:99; font-size:0; overflow:hidden; background:url(images/prev2.png) no-repeat 0 0; cursor:pointer;}
.box-indexaboutus .slider .btn-next{width:25px; height:25px; position:absolute; bottom:15px; left:35px; z-index:99; font-size:0; overflow:hidden; background:url(images/next2.png) no-repeat 0 0; cursor:pointer;}




.box-indexservices{ width:672px; float:right;}
.box-indexservices .hd{ padding-bottom:0; background:none;}
.box-indexservices .hd h3{ color:#0379A0; height:57px; line-height:57px; overflow:hidden;}
.box-indexservices .hd h3 img{ height:57px; display:block;}
.box-indexservices .hd span{ color:#333;}
.box-indexservices .bd{height:249px; overflow:hidden;}
.box-indexservices .bd .tabcont{}
.box-indexservices .bd .tabtitle{ width:109px; float:left;}
.box-indexservices .bd .tabtitle li{ cursor:pointer;width:108px; height:49px; float:left; line-height:49px; background:#A7AAAE; color:#FFF; text-align:center; font-size:18px;margin-bottom: 1px; position:relative;}
.box-indexservices .bd .tabtitle li.selected{ background:#0379A0;}
.box-indexservices .bd .tabtitle li i{ width:14px; height:15px; display:none; overflow:hidden; position:absolute; right:-14px; top:50%; margin-top:-7px; background:url(images/arrar.png) no-repeat 0 0;}
.box-indexservices .bd .tabtitle li.selected i{ display:block;}
.box-indexservices .bd .tabcont{ width:562px; height:249px; float: left;}
.box-indexservices .bd .tabcont li{ display:none; zoom:1;}
.box-indexservices .bd .tabcont li.selected{ display:block;}
.box-indexservices .bd .tabcont img{width:562px; height:249px; display:block;}

.box-indexnews{ clear:both;}
.box-indexnews .hd{ padding-bottom:0; background:none;}
.box-indexnews .hd h3{ color:#0379A0; height:57px; line-height:57px; overflow:hidden;}
.box-indexnews .hd h3 img{ height:57px; display:block;}
.box-indexnews .hd span{ color:#333;}
.box-indexnews .bd ul{position: relative;}
.box-indexnews .bd li{ width:260px; padding:20px;/*margin-bottom: 35px;*/position: absolute; display:none;}
.box-indexnews .bd li img{ width:260px;}
.box-indexnews .bd li h3{ padding:8px 0; margin:0; font-size:20px;font-weight: normal;}
.box-indexnews .bd li p{ margin:0; padding:0;}
.box-indexnews .bd li.on{ background:#00B2D8;}
.box-indexnews .bd li.on a{ color:#FFF;}
.box-indexnews .ft{}
.box-indexnews .ft .more{ text-align:center; padding:10px 0;}
.box-indexnews .ft .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden;}

#footer{background:#282829; padding:160px 10px 10px;}
#footer .footerinfo{ font-size:16px; color:#FFF;}
#footer .footerinfo{color:#FFF;}
#footer .footerinner{ width:1200px; margin:0 auto;}
#footer .footerinfo-l{ float:left; width:280px; padding-left:20px; margin-right:50px; font-size:50px; line-height:50px; font-weight:bold;}
#footer .footerinfo-l img{ width:280px;}
#footer .footerinfo-l p{ margin:0; padding:0;}
#footer .footerinfo-c{float:left; width:435px;margin-right:50px;}
#footer .footerinfo-c p{ margin-bottom:8px;}
#footer .footerinfo-r{float:left; width:248px; line-height:30px;}
#footer .footerinfo-r li img{ width:21px; height:21px; vertical-align:middle; margin-right:3px;}
#footer .footerlogo{ padding:140px 0 20px; text-align:center;}
#footer .copyright{ color:#a7aaae; text-align:center; font-size:12px;}
#footer .copyright a{ color:#a7aaae;}

#floatShare{ position:fixed;right:0; top:180px; z-index:9999; width:27px; height:138px;padding: 30px 0 20px 5px; background:url(images/share_03_24.png) no-repeat 0 0;}
#floatShare li{ margin-bottom:12px; cursor:pointer; position:relative; zoom:1;}
#floatShare li a img{ opacity:.8;}
#floatShare li a:hover img,#floatShare li.on a img{ opacity:1;}
.subfloatshare{ position:absolute; z-index:9999; left:32px; top:0; height:188px; width:100px; overflow:hidden;display:block; background:#444444;}



/*.floatshare01 .subfloatshare{ top:0;width:100px;}
.floatshare01 .subfloatshare .icon{ top:10px;background-image:url(images/arrar2.png);}*/
.sharebd{}
.sharebd .hd{ background:#393939; padding:0 10px; height:33px; zoom:1; line-height:33px; font-size:16px; color:#FFF; white-space:nowrap;}
.sharebd .hd img{ display:block;}
.sharebd .hd .close{ position:absolute; right:5px; top:10px; width:10px; height:10px; overflow:hidden; background:url(images/close.png) no-repeat 0 0;}
.sharebd .bd{ padding:0;}

.qqshare .bd dl{}
.qqshare .bd dd{ border-bottom:1px solid #4d4d4d; padding:5px 15px; white-space:nowrap; font-size:14px;}
.qqshare .bd dd{ color:#cfcfcf;}

.weiboshare .bd{width:490px;height:155px; overflow:hidden;}
.weiboshare .bd iframe{margin-top: -87px;}

/*.floatshare03 .subfloatshare{ top:-100px; width:120px;}
.floatshare03 .subfloatshare .icon{ top:113px;}*/
.weichatshare{}
.weichatshare .bd{ padding:6px; text-align:center;}



/*news list*/
.newsbanner{ height:300px;}
.box-listnews{ }
.box-listnews .hd { background:none;}
.box-listnews .hd a{ font-family: ºÚÌå;width:83px; height:25px; line-height:25px; overflow:hidden; display:inline-block; font-size:18px; text-align:center; margin-right:20px;}
.box-listnews .hd a.selected,.box-listnews .hd a:hover{ color:#FFF; background:url(images/list1_03.png) no-repeat 0 0;}
.box-listnews .bd ul{position: relative;}
.box-listnews .bd li{ width:260px; padding:20px;/*margin-bottom: 10px;*/position: absolute; display:none;}
.box-listnews .bd li img{ width:260px;}
.box-listnews .bd li h3{ padding:8px 0; margin:0; font-size:20px;font-weight: normal;}
.box-listnews .bd li p{ margin:0; padding:0;}
.box-listnews .bd li.on{ background:#00B2D8;}
.box-listnews .bd li.on a{ color:#FFF;}
.box-listnews .ft{}
.box-listnews .ft .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden; margin-bottom:5px;}
.box-listnews .ft .back{ text-align:right; font-size:16px;}

#footer2{background:#CED0D3; padding:20px 0;}
#footer2 .footerinner2{ width:1200px; margin:0 auto;}
#footer2 .copyright2{ color:#6A6B6D; text-align:center; font-size:14px;}
#footer2 .copyright2 a{ color:#6A6B6D;}

.bodycover{
    display: none;
    height: 254px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;}

/*pager*/
.pager { font-size: 14px; text-align: right; word-wrap: break-word; clear: both; padding: 48px 12px 16px; }
.pager .nextlink, .pager .previouslink { width:26px; height:26px; padding:0; font-size:0; overflow:hidden; background:#F00; }
.pager .nextlink{ background:transparent;}
.pager .previouslink{ background:transparent;}
.pager span{ display: inline-block; text-decoration: none; line-height: 26px; padding: 0 10px; background-color: #fff; text-align: center;vertical-align: middle;}
.pager .current { display: inline-block; text-decoration: none; line-height: 26px; padding: 0 10px; margin-right:2px; text-align: center; font-weight: bold; background-color: #00B6D7; color: #FFF; }
.pager a.current:visited { color:#FFF;background:#00B6D7; }
.pager a { display: inline-block; text-decoration: none; line-height: 26px; padding: 0 10px; background-color: #E8E8E8; text-align: center;vertical-align: middle; color:#888; margin-right:2px;}
.pager a:visited { color: #333 }
.pager a:hover { color: #00B6D7;}


/*case*/
.casebanner{ height:300px;}
.box-listcase{ }
.box-listcase .hd { background:none;}
.box-listcase .hd a{ font-family: ºÚÌå;width:83px; height:25px; line-height:25px; overflow:hidden; display:inline-block; font-size:18px; text-align:center; margin-right:20px;}
.box-listcase .hd a.selected,.box-listcase .hd a:hover{ color:#FFF; background:url(images/list1_03.png) no-repeat 0 0;}
.box-listcase .bd ul{margin-left:-20px;}
.box-listcase .bd li{ width:285px; height:170px;margin-bottom: 20px; margin-left:20px; display:inline;position: relative; overflow:hidden; float:left;}
.box-listcase .bd li img{width:285px; height:170px; display:block;}
.box-listcase .bd li p{ padding:5px;color:#FFF; width:275px;font-size:14px; display:none; position:absolute; bottom:0; background:#000;opacity:0.6;filter: Alpha(opacity=60)}
.box-listcase .bd li p a{ color:#FFF;}
.box-listcase .bd li.on p{ display:block;}
.box-listcase .ft{}
.box-listcase .ft .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden; margin-bottom:5px;}
.box-listcase .ft .back{ text-align:right; font-size:16px;}


/*detail*/
.detail-topbar{ background:#282829; width:100%; z-index:2;}
.onscroll .detail-topbar{opacity: 0.95;filter: Alpha(opacity=95);}
.detail-topbar .detailtopbar-inner{width:1200px; margin:0 auto; height:38px; line-height:38px; overflow:hidden; font-size:16px;}
.detailtopbar-inner .prv-next{ float:left;}
.detailtopbar-inner .prv-next a,.detailtopbar-inner .prv-next span{ display:inline-block; vertical-align:middle; color:#BFBFBF; margin:0 4px;}
.detailtopbar-inner .prv-next .prev{ width:10px; height:12px; overflow:hidden; background:url(images/btn_03.png) no-repeat 0 0; font-size:0;}
.detailtopbar-inner .prv-next .next{width:10px; height:12px; overflow:hidden; background:url(images/btn_05.png) no-repeat 0 0; font-size:0;}
.detailtopbar-inner .back{ float:right;line-height: 18px;padding-top: 10px;}
.detail-topbar .detailtopbar-inner a{ color:#FFF;}
.detail-hd{ color:#FFF; padding:30px 0 20px;}
.detail-hd a{ color:#FFF;}
.detail-hd-l{ float:left; width:450px;}
.detail-hd-l h2{ font-size:22px; font-weight:normal;}
.detail-hd-l h2 strong{ font-size:30px;font-weight:normal;}
.detail-hd-l p{ font-size:12px;}
.detail-hd-l p a{ color:#000; margin-right:5px;}
.detail-hd-r{ float:right; font-size:14px; line-height:20px;}
.detail-bd{ min-height:850px; _height:850px; font-size:14px;}
.detail-bd .richcont{ width:1200px; overflow:hidden;}
.detail-bd p{ padding:5px 0 8px;}
.detail-ft{ padding:25px 0;}
.detail-ft .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden; margin-bottom:5px;}
.detail-ft .back{ text-align:right; font-size:16px;}

.newsdetail-hd{ padding:30px 0 20px;}
.newsdetail-hd h2{ font-size:22px; font-weight:normal; font-size:35px;}
.newsdetail-hd p{ font-size:14px; margin-bottom:8px;}
.newsdetail-hd p a{ margin-right:5px;}
.newsdetail-hd .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden;}

.detailtopbar-inner .topbar-t{ float:left;}
.detailtopbar-inner .topbar-t h2{ font-size:20px; color:#FFF; font-weight:normal;}
.detailtopbar-inner .topbar-t h2 strong{ font-size:26px; color:#00B4EF;font-weight:bold;}
.detailtopbar-inner .topbar-t h2 img{ max-height:38px;}

.servicedetail-hd{ padding:13px 0;}
.servicedetail-hd a{ font-family: ºÚÌå;width:83px; height:25px; line-height:25px; overflow:hidden; display:inline-block; font-size:16px; text-align:center; margin-right:15px;}
.servicedetail-hd a.selected,.servicedetail-hd a:hover{ color:#FFF; background:url(images/list1_03.png) no-repeat 0 0;}
.body-servicedetail .detail-bd{ padding-top:75px;}

.search-info{ padding:30px 0 20px; font-size:16px;}
.search-info p{}
.search-info p strong{ color:#039EEF; font-weight:normal;}
.search-info p span{ font-size:12px; color:#999;}
.box-search .hd{ border-bottom:1px solid #989898;height:30px; line-height:30px; overflow:hidden; margin-bottom:40px;}
.box-search .hd a{height:30px; line-height:30px; padding:0 15px; overflow:hidden; display:inline-block; font-size:16px; text-align:center; color:#FFF; background:#989898;}
.box-search .hd a.selected{ background:#000;}
.box-search .bd .bd_l{ float:left; width:105px; padding-right:15px; font-size:16px;}
.box-search .bd .bd_l a{ white-space:nowrap;}
.box-search .bd .bd_r{ float:left; border-left:1px solid #989898; padding:0 70px;}
.box-search .bd .bd_r li{ font-size:16px; margin-bottom:20px;}
.box-search .bd .bd_r li h3{ font-size:26px; font-weight:normal;}
.box-search .bd .bd_r li p.meta{}
.box-search .bd .bd_r li p.desc{}
.box-search .ft .line{ background:url(images/index_25.png) repeat-x 0 0; height:4px; overflow:hidden; margin-bottom:5px;}
.box-search .ft .back{ text-align:right; font-size:16px;}

.sharebox{ padding-bottom:5px;}
.yijing-bshare-custom{ }
.yijing-bshare-custom a{ display: block;width: 24px;height: 24px; float:left; margin-right:5px;overflow: hidden;text-indent: -100px;background:url(images/weixin.png) no-repeat 0 0;cursor: pointer;}
.yijing-bshare-custom a.yijing-bshare-weixin{ background-image:url(images/weixin.png);}
.yijing-bshare-custom a.yijing-bshare-sinaminiblog{background-image:url(images/sinaminiblog.png);}
.yijing-bshare-custom a.yijing-bshare-qqmb{background-image:url(images/qqmb.png);}
.yijing-bshare-custom a.yijing-bshare-renren{background-image:url(images/renren.png);}
.yijing-bshare-custom a.yijing-bshare-qzone{background-image:url(images/qzone.png);}
.yijing-bshare-custom a.yijing-bshare-more{background-image:url(images/bmore.png);}

#toTop{
	width: 51px;
	height:51px;	
	background:url(images/index_44.png) no-repeat 0 0;	
	cursor: pointer;
	position: fixed;
	right: 3px;
	bottom: 30px;
	overflow:hidden;
	text-indent:-500px;
}
/***************************** Carousel Start *****************************/
#container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}
#container div.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#container .panes {
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
#container .panes {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: relative;
	background-color:#ddd;
}
#container .pane {
    float: left;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);    
    min-height:300px;
}
/***************************** Carousel End *****************************/
